<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= displayName %> (<%= identifier %>)</p>
  </body>
</html>

<!--{
	"stat":"ok",
	"profile":{
		"providerName":"Google",
		"identifier":"https:\/\/www.google.com\/profiles\/112043446990643444629",
		"verifiedEmail":"gupta.vikalp@gmail.com",
		"preferredUsername":"gupta.vikalp",
		"displayName":"vikalp gupta",
		"name":{
			"formatted":"vikalp gupta",
			"givenName":"vikalp",
			"familyName":"gupta"
		},
		"email":"gupta.vikalp@gmail.com",
		"url":"https:\/\/www.google.com\/profiles\/112043446990643444629",
		"address":{
			"country":"India"
		},
		"googleUserId":"112043446990643444629",
		"providerSpecifier":"google"
	}
}-->